@import url(http://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans:400,300);
@import "posts";

body {
  padding: 1em 4em;
  background: #E6FFB9;
  color: #4a4a53;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
